#winner-image{
  background-image: url(https://media2.giphy.com/media/uyoXx0qpUWfQs/giphy.webp?cid=ecf05e47dlljurbfknq9u0qnd7iielj8rrh4adaqxlc108tt&rid=giphy.webp&ct=g);
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
}